<!DOCTYPE html>
<html lang="hr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sustav radnici</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" type="image/png" sizes="16x16"
          href="https://betastudio.hr/betasoft/png/employee-16x16.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32"
          href="https://betastudio.hr/betasoft/png/employee-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://betastudio.hr/betasoft/png/employee-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://betastudio.hr/betasoft/png/employee-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://betastudio.hr/betasoft/png/employee-180x180.png">

    <style>

    .fixed-bottom-buttons {
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0;
        z-index: 1030;
        display: flex;
        justify-content: center;
        background-color: #343a40;
        padding: 10px 0;
    }

    .fixed-bottom-buttons .btn {
        margin: 0 5px;
    }

   .navbar {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: #343a40;
        padding: 10px 0;
        padding-left: 2px;
    }



    .navbar .nav-link {
        color: #fff;
    }

    .navbar .nav-link:hover {
        color: #f8f9fa;
    }

    body {
        padding-top: 40px;
    }

        .datepicker-container {
            display: flex;
            align-items: center;
<!--            width: calc(100% - 20px); /* Oduzimamo 30 piksela jer je to ukupan margin od form-group-row */-->
        }

        .datepicker-container input {
            flex-grow: 1;
            width: 100%; /* Puni preostali prostor */
        }

        .datepicker-container button {
            margin-left: 10px; /* prilagodite po potrebi */
        }



        /* Stiliziranje gumba s ikonom */
        .date-trigger {
            cursor: pointer;
        }

        .ui-datepicker-trigger {
            border: none; /* Uklanja okvir */
            background: none; /* Uklanja pozadinu */
            padding: 0; /* Uklanja unutarnji razmak */
            cursor: pointer; /* Postavlja kursor na pokazivač */
        }

        .ui-datepicker-trigger:hover {
            opacity: 0.8; /* Dodaje efekt prozirnosti na hover */
        }

        .ui-datepicker-trigger .fas.fa-calendar-alt {
            font-size: 20px; /* Prilagodi veličinu ikone prema želji */
            color: #007bff; /* Postavlja boju ikone */
        }


    /* Stilizacija kontejnera checkboxa */
    .checkbox-custom {
        display: inline-block;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        cursor: pointer;
    }

    .form-control[readonly] {
        background-color: white; /* Promijenite boju pozadine prema potrebi */
    }
    .form-control[disabled] {
        background-color: #C5C5C5; /* Promijenite boju pozadine prema potrebi */
    }

    .form-group-row label {
        margin-bottom: 2px; /* Postavite margine ispod oznake */
    }

    .form-group-row input {
        margin-bottom: 20px; /* Postavite margine ispod polja unosa */
    }

     .form-group-row select {
        margin-bottom: 20px; /* Postavite margine ispod polja unosa */
    }

   .form-group-row button {
        margin-bottom: 20px; /* Postavite margine ispod polja unosa */
    }


    </style>

    <!--FORMATIRANJE DATUMA U FORMI-->
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            // Pronalaženje svih elemenata s klasom "date-input"
            var dateInputs = document.querySelectorAll(".date-input, .date-pick");

            // Iteriranje kroz sva pronađena polja i formatiranje datuma
            dateInputs.forEach(function(input) {
                var originalDate = input.value;
                if (originalDate !== '') {
                    var formattedDate = formatDate(originalDate);
                    input.value = formattedDate;
                }
            });

            // Funkcija za formatiranje datuma
            function formatDate(dateString) {
                var dateParts = dateString.split('-');
                var formattedDate = dateParts[2] + '.' + dateParts[1] + '.' + dateParts[0];
                return formattedDate;
            }
        });

    </script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" style="padding-left: 10px;" th:href="${path}"><i
                        class="fas fa-arrow-left fa-1x"></i></a>
            </li>
        </ul>

        <a class="navbar-brand mx-auto" th:text="${title}" href="#">Naslov tablice</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link d-inline-block" style="padding-right: 10px;" id="logoutLink" href="#">
                    <i class="fas fa-user"></i>
                    <span id="usernameMessage" style="display: none;">Prijavljeni korisnik: <span th:text="${#authentication.principal}">not found</span></span>
                </a>
                <a class="nav-link d-inline-block" style="padding-right: 10px;" href="/logout">
                    <i class="fas fa-sign-out-alt fa-1x"></i>
                </a>
            </li>

        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center"> <!-- Dodana klasa justify-content-center za centriranje -->
        <div class="col-md-6">

            <div th:if="${message}" class="alert alert-danger" th:text="${message}"></div>

            <form id="myForm" th:object="${class}" th:action="@{${pathSave}}" onsubmit="formatDataBeforeSubmit()"
                  method="POST">

                <input type="hidden" th:field="*{__${dataId}__}">
                <input th:each="data : ${hiddenList}" input type="hidden" th:field="*{__${data}__}">

                <div th:each="data : ${dataList}" class="form-group-row">

                    <label th:for="${data.field}" th:text="${data.name}"></label>
                    <div th:if="${#lists.isEmpty(data.items) and #strings.isEmpty(data.model)}">


                        <div th:classappend="${data.type == 'checkbox' ? 'checkbox-custom' : ''}  + ${data.type == 'date-pick' ? 'datepicker-container' : '' }">
                            <label th:if="${data.type == 'checkbox'}" th:for="*{__${data.field}__}">
                                <input class="form-control checkbox-custom" th:id="${data.field}"
                                       th:type="${data.type == 'number-input' ? 'text' : (data.type == 'date-input' || data.type == 'date-pick' ? 'text' : data.type)}"
                                       th:step="${data.type == 'number-input' ? '0.01' : null}"
                                       th:field="*{__${data.field}__}"
                                       th:required="${data.required == 'true'} ? 'required' : null"
                                       th:disabled="${data.enabled == 'false'} ? 'disabled' : null"
                                       th:title="${data.required == 'true'} ? 'Molimo Vas da popunite ovo polje.' : null"
                                       th:classappend="${data.type == 'date-input' ? 'date-input' : ''}  + ${data.type == 'date-pick' ? 'date-pick' : ''} + ${data.type == 'number-input' ? 'number-input' : ''}"
                                       th:inputmode="${data.type == 'date-input' || data.type == 'date-pick' ? 'decimal' : (data.type == 'number-input' ? 'decimal' : null)}"
                                       th:oninput="${data.type == 'number-input'} ? 'formatNumberOnInput(this)' : null"
                                >

                            </label>
                            <input th:unless="${data.type == 'checkbox'}" class="form-control" th:id="${data.field}"
                                   th:type="${data.type == 'number-input' ? 'text' : (data.type == 'date-input' || data.type == 'date-pick' ? 'text' : data.type)}"
                                   th:step="${data.type == 'number-input' ? '0.01' : null}"
                                   th:field="*{__${data.field}__}"
                                   th:required="${data.required == 'true'} ? 'required' : null"
                                   th:disabled="${data.enabled == 'false'} ? 'disabled' : null"
                                   th:title="${data.required == 'true'} ? 'Molimo Vas da popunite ovo polje.' : null"
                                   th:classappend="${data.type == 'date-input' ? 'date-input' : ''}  + ${data.type == 'date-pick' ? 'date-pick' : ''} + ${data.type == 'number-input' ? 'number-input' : ''}"
                                   th:inputmode="${data.type == 'date-input' || data.type == 'date-pick' ? 'decimal' : (data.type == 'number-input' ? 'decimal' : null)}"
                                   th:oninput="${data.type == 'number-input'} ? 'formatNumberOnInput(this)' : null"
                                   th:readonly="${data.type == 'date-pick'} ? 'readonly' : null"
                            >


                            <div th:if="${data.type == 'date-pick'}">
                                <button type="button" class="clear-date-button btn btn-outline-light text-danger"
                                        th:attr="data-field=${data.field}"
                                        th:onclick="clearDateField(this.getAttribute('data-field'))"><i
                                        class="far fa-trash-alt fa-1x"></i></button>
                            </div>

                        </div>


                    </div>
                    <div th:unless="${#strings.isEmpty(data.model)}">
                        <select class="form-control" th:id="${data.field}" th:field="*{__${data.id}__}"
                                th:required="${data.required == 'true'} ? 'required' : null"
                                th:disabled="${data.enabled == 'false'} ? 'disabled' : null"
                                title="Molimo Vas da odaberete vrijednost iz padajućeg izbornika.">
                            <option th:each="item : ${__${data.model}__}" th:value="${item[data.field]}"
                                    th:text="${item[data.option]}"></option>
                        </select>
                    </div>
                    <div th:if="${data.items != null and data.items.size() > 0}">
                        <select class="form-control" t
                                th:id="${data.field}"
                                th:field="*{__${data.field}__}"
                                th:required="${data.required == 'true'} ? 'required' : null"
                                th:disabled="${data.enabled == 'false'} ? 'disabled' : null"
                                th:multiple="${data.multi == 'true'} ? 'multiple' : null"
                                title="Molimo Vas da odaberete vrijednost iz padajućeg izbornika.">
                            <th:block th:each="item : ${data.items}">
                                <option th:value="${item}" th:text="${item}"></option>
                            </th:block>
                        </select>
                    </div>


                </div>

                <div class="btn-group btn-group-justified">
                <div class="fixed-bottom-buttons">
                    <a>
                    <button th:if="${pathSave != ''}" type="submit" class="btn btn-primary">Spremi</button>
                    </a>
                    <a>

                    <button th:if="${sendLink != ''}" type="submit" class="btn btn-primary"
                            onclick="return confirm('Jeste li sigurni da želite poslati nalog?');"
                            th:formaction="@{${sendLink}}">
                        Pošalji
                    </button>
                    </a>
                    <a>

                    <form th:if="${pathSave != ''}">
                        <button type="button" class="btn btn-secondary" th:onclick="showConfirmation()">Odustani
                        </button>

                    </form>
                    </a>
                    <a>
                    <form th:if="${pathSave == ''}">
                        <button type="button" class="btn btn-secondary" th:onclick="window.location=[[${path}]]">
                            Povratak
                        </button>
                    </form>
                    </a>

                </div>
                </div>

            </form>
            <div class="row">
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{${script}}"></script>

<script>
    $(document).ready(function(){
        $('#logoutLink').click(function(e){
        e.preventDefault(); // Spriječava preusmjeravanje na /logout
        var username = $('#usernameMessage span').text();
        alert(username); // Prikaže korisničko ime u alert box-u (možete promijeniti kako želite)
        });
    });
</script>


<script>
    // Funkcija za postavljanje visine padajućeg izbornika na temelju broja opcija
    function setDropdownHeight() {
    var reasonForUpdateElement = document.getElementById("reasonForUpdate");
    if (reasonForUpdateElement && reasonForUpdateElement.type !== 'hidden') {
        var dropdown = document.getElementById('reasonForUpdate');
        var numOptions = dropdown.options.length;
        dropdown.size = numOptions;
        }
    }

    // Poziv funkcije kada se stranica učita
    window.onload = setDropdownHeight;


</script>


<script>
    function showConfirmation() {
        if (confirm("Želite li prekinuti unos?")) {
            // Ako korisnik pritisne "OK", preusmjeri ih na putanju
            window.location = "[[${path}]]";
        } else {
            // Ako korisnik pritisne "Cancel", ne preusmjeravaj ih
            return false; // Dodajte ovo da spriječite preusmjeravanje
        }
    }


</script>

<script>

    // Provjerava postoji li OIB već u tablici employees
    document.getElementById('oib').addEventListener('blur', function(event) {
        // Dohvati vrijednost unesenog OIB-a
        var oibValue = document.getElementById('oib').value;
        // POST zahtjev
        sendPostRequest(oibValue);
    });

    function sendPostRequest(oib) {
        fetch('/employees/check-oib', {
         method: 'POST',
         headers: {
             'Content-Type': 'application/json'
         },
         body: JSON.stringify({ oib: oib })
        }).then(response => {
         if (response.ok) {
             // Ako je POST zahtjev uspješan, preusmjeri na novi URL
             return response.text(); // Ovdje se dobiva URL kao tekst
         } else {
             // Ako POST zahtjev nije uspješan, ispiši grešku u konzoli
             console.error('Greška prilikom slanja POST zahtjeva:', response.statusText);
             return null;
         }
        }).then(url => {
         if (url) {
             // Ako je dobiven URL, preusmjeri na taj URL a ako je prazan ostani tu
             if (url != '') {
             window.location = url;
             }
            } else {
             // Ako nije dobiven URL, ispiši grešku u konzoli
             console.error('Nije dobiven URL kao odgovor na POST zahtjev.');
            }
        }).catch(error => {
        console.error('Greška prilikom slanja POST zahtjeva:', error);
    });
}


</script>


<script>

document.querySelectorAll(".date-input, .date-pick").forEach(function(input) {

<!--OK DODAJE TOČKE-->
  input.addEventListener("input", function(event) {
    let value = event.target.value;
    let keyPressed = event.inputType; // Dobivanje informacije o pritisnutoj tipki
    if (value.length === 2 || value.length === 5) {
      event.target.value += ".";
    }
  });
    input.addEventListener("input", function(event) {
        let value = event.target.value;
        let keyPressed = event.inputType; // Dobivanje informacije o pritisnutoj tipki

        // Provjera je li zadnja pritisnuta tipka backspace ili delete
        if (keyPressed === "deleteContentBackward" || keyPressed === "deleteContentForward") {
          // Ako je točka zadnji znak u polju, ukloni je
          if (value.endsWith(".")) {
            event.target.value = value.slice(0, -1);
          }
        } else {
          // Ako nije pritisnuta tipka backspace ili delete, dodaj točku
          if (value.length === 2 || value.length === 5) {
            event.target.value += ".";
          }
        }
      });


<!--PROVJERA ISPRAVNOSTI DATUMA-->
  input.addEventListener("blur", function(event) {
    let value = event.target.value;

    if (!value.match(/^\d{2}\.\d{2}\.\d{4}$/)) {
      event.target.value = "";
    } else {
      let parts = value.split('.');
      let day = parseInt(parts[0], 10);
      let month = parseInt(parts[1], 10) - 1;
      let year = parseInt(parts[2], 10);

      let dateObj = new Date(year, month, day);

      if (dateObj.getDate() !== day || dateObj.getMonth() !== month || dateObj.getFullYear() !== year) {
        event.target.value = "";
      }
    }
  });
});

let activeInput = null; // Globalna varijabla koja prati trenutno aktivan input

document.querySelectorAll(".date-input").forEach(function(input) {
  input.addEventListener("click", function(event) {
    // Selektiranje sadržaja inputa samo ako trenutno nije aktivan
    if (activeInput !== input) {
      event.target.select();
      activeInput = input;
    }
  });

  input.addEventListener("focus", function(event) {
    // Ako je input već aktivan i selektiran, ukloni selekciju teksta
    if (activeInput === input) {
      event.target.setSelectionRange(0, 0); // Postavi kursor na početak teksta
    }
  });
});

// Funkcija za automatsko postavljanje današnjeg datuma ako je polje Datum prijave prazno
function setTodayDateIfEmpty(event) {
  let input = event.target;
  if (input.value === "") {
    let today = new Date();
    let day = today.getDate().toString().padStart(2, '0');
    let month = (today.getMonth() + 1).toString().padStart(2, '0');
    let year = today.getFullYear();
    input.value = day + "." + month + "." + year;
  }
}

// Dodavanje događaja za pozivanje funkcije setTodayDateIfEmpty() kada se klikne na polje Datum prijave ili Datum odjave
document.querySelectorAll(".date-input.auto-fill").forEach(function(input) {
  input.addEventListener("click", setTodayDateIfEmpty);
});




<!--// Funkcija za preusmjeravanje na /employees-->
<!--function redirectToEmployees() {-->
<!--  window.location = '/employees';-->
<!--}-->


</script>


<script>
    function formatDataBeforeSubmit() {
        // Select all elements with class "date-input" or "date-pick"
        var dateInputs = document.querySelectorAll(".date-input, .date-pick, .date-no-pick");

        // Iterate over each date input element
        for (var i = 0; i < dateInputs.length; i++) {
            var input = dateInputs[i];
            if (input.value.trim() !== "") {
                // Split the value of the input by dot separator
                var parts = input.value.split(".");

                // Extract day, month, and year parts from the split value
                var day = parseInt(parts[0], 10);
                var month = parseInt(parts[1], 10);
                var year = parseInt(parts[2], 10);

                // Create a new Date object with extracted parts
                var date = new Date(year, month - 1, day);

                // Format the date as yyyy-mm-dd
                var formattedDate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);

                // Set the formatted date as the value of the input
                input.value = formattedDate;
            }
        }
        enableAllFields();
    }

    function enableAllFields() {
        // Assuming inputFields is defined somewhere in your code
        var inputFields = document.querySelectorAll('input');
        inputFields.forEach(field => {
            // If the field is disabled, remove the "disabled" attribute
            if (field.disabled) {
                field.removeAttribute('disabled');
            }
        });
    }
</script>


<script>
function formatNumberOnInput(input) {
    if (input.value.trim() !== "") {
        // Zamijeni "," sa "."
        input.value = input.value.replace(/,/g, ".");
        // Ukloni sve što nije cifra od 0 do 9, osim tačke
        input.value = input.value.replace(/[^\d.]/g, (match) => {
            // Ako match nije tačka, zamijeni sa praznim stringom, inače vrati tačku
            return match !== '.' ? '' : '.';
        });
        // Zamijeni drugu tačku sa praznim stringom
        input.value = input.value.replace(/^(.*\..*)\./g, '$1');
    }
}


</script>


<script>

    $(document).ready(function() {
        $(".date-pick").datepicker({
            dateFormat: "dd.mm.yy",
            showOn: "both",
            buttonText: "<i class='far fa-calendar-alt fa-1x'></i>",
            // Za zatvaranje datepickera i fokusiranje na sljedeći gumb
            onClose: function() {
                $(this).next('.date-trigger').focus(); // Fokusiraj na sljedeći gumb nakon zatvaranja datepickera
            }
        });
        // Omogućuje prikazivanje datepickera kada se klikne na gumb
        $(".date-trigger").click(function() {
            $(this).prev('.date-pick').datepicker('show');
        });

    $(".ui-datepicker-trigger").addClass("btn btn-outline-light text-primary").attr("style", function(i, style) {
            return (style || "") + "padding-left: 5px !important;";
        });


    });


</script>


<script>
    jQuery(function($) {
        $.datepicker.regional['hr'] = {
            clearText: 'izbriši',
            clearStatus: 'Izbriši trenutni datum',
            closeText: 'Zatvori',
            closeStatus: 'Zatvori kalendar',
            prevText: '&#x3c;&#x3c;',
            prevStatus: 'Prikaži prethodni mjesec',
            nextText: '&#x3e;&#x3e;',
            nextStatus: 'Prikaži slijedeći mjesec',
            currentText: 'Danas',
            currentStatus: 'Današnji datum',
            monthNames: ['Siječanj', 'Veljača', 'Ožujak', 'Travanj', 'Svibanj', 'Lipanj', 'Srpanj', 'Kolovoz', 'Rujan', 'Listopad', 'Studeni', 'Prosinac'],
            monthNamesShort: ['Sij', 'Velj', 'Ožu', 'Tra', 'Svi', 'Lip', 'Srp', 'Kol', 'Ruj', 'Lis', 'Stu', 'Pro'],
            monthStatus: 'Prikaži mjesece',
            yearStatus: 'Prikaži godine',
            weekHeader: 'Tje',
            weekStatus: 'Tjedan',
            dayNames: ['Nedjelja', 'Ponedjeljak', 'Utorak', 'Srijeda', 'Četvrtak', 'Petak', 'Subota'],
            dayNamesShort: ['Ned', 'Pon', 'Uto', 'Sri', 'Čet', 'Pet', 'Sub'],
            dayNamesMin: ['Ne', 'Po', 'Ut', 'Sr', 'Če', 'Pe', 'Su'],
            dayStatus: 'Odaber DD za prvi dan tjedna',
            dateStatus: 'Datum D, M d',
            dateFormat: 'dd.mm.yy.',
            firstDay: 1,
            initStatus: 'Odaberi datum',
        };
            $.datepicker.setDefaults($.datepicker.regional['hr']);
        });

</script>

<script>
function clearDateField(fieldId) {
    var inputField = document.getElementById(fieldId);
    if (inputField) {
        inputField.value = '';
    }
}


</script>


</body>
</html>