<!DOCTYPE html>
<html lang="hr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sustav radnici</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="shortcut icon" type="image/png" sizes="16x16" href="https://betastudio.hr/betasoft/png/employee-16x16.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="https://betastudio.hr/betasoft/png/employee-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://betastudio.hr/betasoft/png/employee-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://betastudio.hr/betasoft/png/employee-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://betastudio.hr/betasoft/png/employee-180x180.png">
    <style>
        * {
             font-size: 14px;
         }
         .navbar {
          position: fixed;
          top: 0;
          z-index: 1000;
          width: 100%;
          background-color: #343a40; /* siva boja */
          padding: 10px 0;
          padding-left: 2px;
        }

        .navbar .nav-item {
          margin-right: 15px;
        }

        .navbar .nav-link {
          color: #fff; /* bijela boja */
          font-size: 14px;
          font-weight: bold;
        }

        .navbar .nav-link:hover {
          color: #f8f9fa; /* svijetlo siva boja */
        }
        body {
          padding-top: 20px; /* Dodatni padding na vrhu body elementa */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-left: 5px;" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Sustav radnici</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <br>
            <br>
            <div th:if="${param.success}">
                <div class="alert alert-info">Uspješno ste se registrirali na našu aplikaciju!</div>
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger">Neispravno korisničko ime ili lozinka.</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">Odjavili ste se.</div>
            </div>

            <!-- TEST -->
            <div th:if="${accExpired}" class="alert alert-danger" th:text="${message}"></div>

            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Obrazac za prijavu</h3>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            th:action="@{/login}"
                            class="form-horizontal"
                            role="form"
                    >
                        <div class="mb-3">
                            <label for="username" class="control-label">Korisnik *</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   placeholder="Korisničko ime"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="password" class="control-label">Lozinka *</label>
                            <div class="input-group">
                                <input type="password"
                                       id="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="Lozinka"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="togglePasswordVisibility">
                                        <i class="far fa-eye-slash fa-1x"></i>
<!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9 9-4.03 9-9-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7zm0-5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/></svg>-->
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Prijava</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<script>
    document.getElementById('togglePasswordVisibility').addEventListener('click', function() {
        var passwordInput = document.getElementById('password');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
</body>
</html>
