<!DOCTYPE html>
<html lang="hr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prijava korisnika</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/SinisaKuna/icon/master/link_favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/SinisaKuna/icon/master/gpt_favicon.png">
    <style>
        * {
             font-size: 16px;
         }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Sustav za prijavu radnika - betaSoft (c)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br>
            <br>
            <div th:if="${param.success}">
                <div class="alert alert-info">Uspješno ste se registrirali na našu aplikaciju!</div>
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger">Neispravno korisničko ime ili lozinka.</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">Odjavili ste se.</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Obrazac za prijavu</h3>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            th:action="@{/login}"
                            class="form-horizontal"
                            role="form"
                    >
                        <div class="mb-3">
                            <label for="username" class="control-label">Korisnik *</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   placeholder="Korisničko ime"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="password" class="control-label">Lozinka *</label>
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Lozinka"
                            />
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Prijava</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</body>
</html>
