<!DOCTYPE html>
<html lang="hr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sustav radnici</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="shortcut icon" type="image/png" sizes="16x16"
          href="https://betastudio.hr/betasoft/png/employee-16x16.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32"
          href="https://betastudio.hr/betasoft/png/employee-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://betastudio.hr/betasoft/png/employee-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://betastudio.hr/betasoft/png/employee-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://betastudio.hr/betasoft/png/employee-180x180.png">
    <style>
<!--        * {-->
<!--             font-size: 14px;-->
<!--         }-->
         .navbar {
          position: fixed;
          top: 0;
          z-index: 1000;
          width: 100%;
          background-color: #343a40; /* siva boja */
          padding: 10px 0;
          padding-left: 2px;
        }

        .navbar .nav-item {
          margin-right: 15px;
        }

        .navbar .nav-link {
          color: #fff; /* bijela boja */
<!--          font-size: 14px;-->
        }

        .navbar .nav-link:hover {
          color: #f8f9fa; /* svijetlo siva boja */
        }
        body {
          padding-top: 0px; /* Dodatni padding na vrhu body elementa */
        }

        .btn { height: 50px; }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" th:href="@{/}">Sustav radnici</a>
    </div>
</nav>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div th:if="${param.success}">
                <div class="alert alert-info">Uspješno ste se registrirali na našu aplikaciju!</div>
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger">Neispravno korisničko ime ili lozinka.</div>
            </div>
            <!-- TEST -->
            <div th:if="${accExpired}" class="alert alert-danger" th:text="${message}"></div>

            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Prijava</h4>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            th:action="@{/login}"
                            class="form-horizontal"
                            role="form"
                    >
                        <div class="mb-3">
                            <label for="username" class="control-label">Korisnik *</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   placeholder="Korisničko ime"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="password" class="control-label">Lozinka *</label>
                            <div class="input-group">
                                <input type="password"
                                       id="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="Lozinka"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="togglePasswordVisibility">
                                           <span id="togglePasswordIcon"><i class="far fa-eye-slash fa-1x"></i></span>
<!--                                        <i class="far fa-eye-slash fa-1x"></i>-->
<!--                                        <i class="far fa-eye fa-1x"></i>-->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block">Prijava</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    document.getElementById('togglePasswordVisibility').addEventListener('click', function() {-->
<!--        var passwordInput = document.getElementById('password');-->
<!--        if (passwordInput.type === 'password') {-->
<!--            passwordInput.type = 'text';-->
<!--        } else {-->
<!--            passwordInput.type = 'password';-->
<!--        }-->
<!--    });-->

<!--</script>-->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Ovdje ide vaša postojeća skripta
    document.getElementById('togglePasswordVisibility').addEventListener('click', function() {
        var passwordInput = document.getElementById('password');
        var icon = document.getElementById('togglePasswordIcon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.innerHTML = '<i class="far fa-eye fa-1x"></i>';
        } else {
            passwordInput.type = 'password';
            icon.innerHTML = '<i class="far fa-eye-slash fa-1x"></i>';
        }
    });
});

</script>

</body>
</html>
