<!DOCTYPE html>
<html lang="hr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Include Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <label for="oib" class="form-label">Unesite OIB:</label>
            <input type="number" class="form-control" id="oib" placeholder="OIB" inputmode="decimal">
            <br>
            <label for="firstNameInput" class="form-label">Ime:</label>
            <input type="text" class="form-control" id="firstNameInput" placeholder="Ime">
            <br>
            <label for="lastNameInput" class="form-label">Prezime:</label>
            <input type="text" class="form-control" id="lastNameInput" placeholder="Prezime">
            <br>

            <!-- date-input -->
            <label for="dateOfBirthInput" class="form-label">Datum rođenja (slobodan upis):</label>
            <input type="text" class="form-control date-input" id="dateOfBirthInput" name="dateOfBirth"
                   inputmode="decimal" pattern="\d{1,2}\.\d{1,2}\.\d{4}" placeholder="dd.mm.yyyy">
            <br>
            <!-- "date-input auto-fill"  -->
            <label for="dateSignUpInput" class="form-label mt-3">Datum prijave (danas):</label>
            <input type="text" class="form-control date-input auto-fill" id="dateSignUpInput" name="dateSignUp"
                   inputmode="decimal" pattern="\d{1,2}\.\d{1,2}\.\d{4}" placeholder="dd.mm.yyyy">
            <br>
            <!--  "date-input auto-fill date-picker" -->
            <label for="dateSignOutInput" class="form-label mt-3">Datum odjave (danas + kalendar):</label>
            <input type="text" class="form-control date-input auto-fill date-picker date-picker" id="dateSignOutInput" name="dateSignOut"
                   inputmode="decimal" pattern="\d{1,2}\.\d{1,2}\.\d{4}" placeholder="dd.mm.yyyy">
            <br>

            <!--  "date-input date-picker" -->
            <label for="dateUpdateInput" class="form-label mt-3">Datum promjene (samo kalendar):</label>
            <input type="text" class="form-control date-input date-picker" id="dateUpdateInput" name="dateUpdate"
                   inputmode="decimal" pattern="\d{1,2}\.\d{1,2}\.\d{4}" placeholder="Odaberi datum" readonly>
            <br>

            <label for="netto" class="form-label">Netto plaća:</label>
            <input type="number" step="0.01" class="form-control" id="netto" placeholder="Netto plaća" inputmode="decimal">
            <br>

            <label for="memoInput" class="form-label">Napomena:</label>
            <input type="text" class="form-control" id="memoInput" placeholder="Napomena">
            <br>

            <button onclick="redirectToEmployees()" class="btn btn-primary mt-3">Povratak</button>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- Include Flatpickr JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/hr.js"></script>


<script>

<!--PROVJERA ISPRAVNOSTI DATUMA-->
document.querySelectorAll(".date-input").forEach(function(input) {
  input.addEventListener("input", function(event) {
    let value = event.target.value;
    if (value.length === 2 || value.length === 5) {
      event.target.value += ".";
    }
  });

  input.addEventListener("blur", function(event) {
    let value = event.target.value;

    if (!value.match(/^\d{2}\.\d{2}\.\d{4}$/)) {
      event.target.value = "";
    } else {
      let parts = value.split('.');
      let day = parseInt(parts[0], 10);
      let month = parseInt(parts[1], 10) - 1;
      let year = parseInt(parts[2], 10);

      let dateObj = new Date(year, month, day);

      if (dateObj.getDate() !== day || dateObj.getMonth() !== month || dateObj.getFullYear() !== year) {
        event.target.value = "";
      }
    }
  });
});

<!--ZA NUMBER SAMO BROJEVI-->
document.querySelector('input[type="number"]').addEventListener("input", function(event) {
  let value = event.target.value;
  event.target.value = value.replace(/\D/g, '');
});

let activeInput = null; // Globalna varijabla koja prati trenutno aktivan input

document.querySelectorAll(".date-input").forEach(function(input) {
  input.addEventListener("click", function(event) {
    // Selektiranje sadržaja inputa samo ako trenutno nije aktivan
    if (activeInput !== input) {
      event.target.select();
      activeInput = input;
    }
  });

  input.addEventListener("focus", function(event) {
    // Ako je input već aktivan i selektiran, ukloni selekciju teksta
    if (activeInput === input) {
      event.target.setSelectionRange(0, 0); // Postavi kursor na početak teksta
    }
  });
});

// Funkcija za automatsko postavljanje današnjeg datuma ako je polje Datum prijave prazno
function setTodayDateIfEmpty(event) {
  let input = event.target;
  if (input.value === "") {
    let today = new Date();
    let day = today.getDate().toString().padStart(2, '0');
    let month = (today.getMonth() + 1).toString().padStart(2, '0');
    let year = today.getFullYear();
    input.value = day + "." + month + "." + year;
  }
}

// Dodavanje događaja za pozivanje funkcije setTodayDateIfEmpty() kada se klikne na polje Datum prijave ili Datum odjave
document.querySelectorAll(".date-input.auto-fill").forEach(function(input) {
  input.addEventListener("click", setTodayDateIfEmpty);
});



<!--// Dodavanje Flatpickr funkcionalnosti za elemente s klasom "date-picker"-->
document.addEventListener('DOMContentLoaded', function() {
  flatpickr('.date-picker', {
    dateFormat: 'd.m.Y',
    onClose: [function(selectedDates, dateStr, instance) {
      instance.setDate(dateStr, true, 'd.m.Y');
    }],
    locale: 'hr' // Postavljanje lokalizacije na hrvatski jezik
  });
});


// Funkcija za preusmjeravanje na /employees
function redirectToEmployees() {
  window.location = '/employees';
}
</script>


</body>
</html>
